<!DOCTYPE html>
<html>
<head>
    <title>NZ Skate Search</title>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="/static/tablesaw/bower_components/filament-dialog/dialog.css">
    <link rel="stylesheet" href="/static/tablesaw/dist/tablesaw.css">
    <script src="/static/tablesaw/bower_components/filament-dialog/dialog.js"></script>
    <!-- <script src="/static/tablesaw/dist/tablesaw.js"></script> -->
    <script src="/static/app.js"></script>
</head>
<body>
    <h1>NZ Skate Search</h1>
    <form action="#">
        Search: <input type="text" id="search">
        <input type="submit" value="Submit"  id="submit">
    </form>

    <table data-sortable class="tablesaw" data-sortable-switch id="results">
    </table>

    <!-- <ul id="results">
    </ul> -->
    <table data-sortable class="tablesaw">
    </table>
</body>
</html>